{% extends 'base.html.twig' %}

{% block title %}Articulo index{% endblock %}

{% block body %}
    <h1>Bienvenido a los articulos</h1>
    <br><br>
        {% for articulo in articulos %}
                <h2>{{ articulo.titulo }}</h2>
                <br>
                <p>Descripción: {{ articulo.descripcion }} </p>
                <p>Codigo:{{ articulo.codigo }}</p>
                <br><br>
                    <a href="{{ path('app_articulo_show', {'id': articulo.id}) }}">Mostrar articulo</a>
                    <a href="{{ path('app_articulo_edit', {'id': articulo.id}) }}">Editar articulo</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No hay articulos dentro de la base de datos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_articulo_new') }}">Crear un nuevo articulo</a>
{% endblock %}
